.foodList {
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 2%;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: 1px solid red;
    margin: 1%;
    justify-content: center;
    align-content: center;
}

li {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

